<h1>Welcome to ColorStorm</h1>
{{#pop-over as |popover|}}
	{{#popover.trigger}}
		Click me
	{{/popover.trigger}}
	{{#popover.content}}
		{{color-picker
			r=red
			g=green
			b=blue
			alpha=alpha
			showBasicInterface=false
			showInputs=true
			showPreview=false
			showSliders=true
			showWheel=false
		}}
	{{/popover.content}}
{{/pop-over}}