{{#pop-over as |popover|}}
	{{#popover.trigger}}	
		<button {{action 'toggleIsShowingColorPicker'}}>
			<span class="arrow"></span>
		</button>
	{{/popover.trigger}}
	{{#popover.content}}
		{{color-picker
			r=r
			g=g
			b=b
			alpha=a
			showBasicInterface=true
			showPreview=false
			showWheel=false
			onChange=(action 'colorChanged')
		}}
	{{/popover.content}}
{{/pop-over}}
