<button {{action (toggle 'isShowingColorPicker' this)}}>&nbsp;</button>
{{#if isShowingColorPicker}}
	{{spectrum-color-picker
		clickoutFiresChange=true
		flatMode=true
		moveFiresChange=true
		preferredFormat='rgb'
		showAlpha=true
		showInput=true
		onChange=(action 'colorChanged')
	}}
{{/if}}