{{#pop-over as |popover|}}
	{{#popover.trigger}}	
		<button>
			<span class="arrow"></span>
		</button>
	{{/popover.trigger}}
	{{#popover.content
		autoAlign=true
		horizontalAlignment=popoverAlignment
	}}
		{{color-picker
			r=r
			g=g
			b=b
			alpha=a
			showBasicInterface=true
			showPreview=false
			showWheel=false
			onChange=(action 'colorChanged')
		}}
	{{/popover.content}}
{{/pop-over}}
