<button {{action 'toggleIsShowingColorPicker'}}>
	<span class="arrow"></span>
</button>
{{#if isShowingColorPicker}}
	{{spectrum-color-picker
		class=colorPickerPositionClass
		color=color
		flatMode=true
		moveFiresChange=true
		preferredFormat='rgb'
		showAlpha=true
		showInput=true
		onChange=(action 'colorChanged')
	}}
{{/if}}