<ul>
	{{#each gradients as |gradient|}}
	<li>
		<div class="gradient">
			{{#link-to 'gradients.gradient' gradient}}
				<h3>{{gradient.title}}</h3>
			{{/link-to}}
			<p>{{gradient.description}}</p>
		</div>
	</li>
	{{/each}}
</ul>
