.gradient-layer {
	position: relative;
	width: 60px; 
	height: 60px; 
	margin-bottom: 10px; 
	float: left; 
	outline: 1px solid black;
	text-align: center;
	line-height: 60px;
	background: white;
}

.gradient-layer * {
	// pointer-events: none;
}

.gradient-layer.active {
	outline: 1px solid white;
}

.gradient-layer.dragging {
	opacity: 0;
}

.gradient-layer .gradient-layer__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}