.gradient-layers {
	position: absolute; 
	top: 0; 
	right: 0; 
	width: 6em; 
	height: 100%; 
	padding: 1em; 
	background: #234;
}

.gradient-layers ul {
	padding: 0; 
	margin: 0; 
	list-style-type: none;
}