.gradient-dial:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.075em solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.gradient-dial .gradient-dial__handle--size {
  content: '';
  display: block;
  position: absolute;
  top: -90%;
  left: 50%;
  height: 100%;
  border-left: 0.625em solid transparent;
  border-right: 0.625em solid transparent;
  border-bottom: 0.75em solid red;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.gradient-dial .gradient-dial__handle--height {
  content: '';
  display: block;
  position: absolute;
  top: 0%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: rgba(0, 255, 0, 0.5);
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.gradient-dial .gradient-dial__handle--centerPos {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.5);
  text-align: center;
  line-height:1;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.gradient-dial__handle:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

.gradient-dial__handle:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}