.gradient-stop {
	position: absolute;
	bottom: 20px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	z-index: 1;
}

.gradient-stop button {
	position: absolute;
	width: 40px;
	height: 40px;
	margin: 0;
	min-width: 0;
	border-radius: 100%;
	outline: none;
	-webkit-appearance: none;
	background: transparent;
	.arrow {
		position: absolute;
		display: block;
		content: '';
		top: -4px;
		left: 15px;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #ddd;
		z-index: -1;
		filter: invert(100%) grayscale(100%);
	}
}

.gradient-stop button .gradient-stop__border {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	border: 2px solid #222;
	filter: invert(100%) grayscale(100%);
}

.gradient-stop button .gradient-stop__border,
.gradient-stop button .gradient-stop__background {
	border-radius: 20px;
	height: 40px;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 40px;
}

.gradient-stop .pop-over {
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
}
