.gradient-layers {
	// @extend %light-on-dark;
	@extend %mid-grey-on-mid-dark;
	position: fixed; 
	top: 0; 
	right: 0; 
	width: 80px; 
	height: 100%; 
	padding: 10px; 
}

.gradient-layers ul {
	padding: 0; 
	margin: 0; 
	list-style-type: none;
}

.gradient-layers ul li {
	height: 60px;
}
