body {
	background: $dark;
	display: flex;
	max-width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
}

#app {
	height: 100%;
	width: 100%;
}

#app > .ember-view {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
}

#main {
	position: relative;
	height: 100%;
	flex: 1;
}

section {
	padding: 1em;
}

