<p>Layers</p>
<ul>
{{#each gradientLayers as |gradientLayer index|}}
	<li>
		{{gradient-layer
			activeGradientLayerId=activeGradientLayerId
			cloneTop=cloneTop
			cloneDeltaY=cloneDeltaY
			cloneGradientLayer=cloneGradientLayer
			gradientLayer=gradientLayer
			isCloneActive=isCloneActive
			mousePos=mousePos
			order=gradientLayer.order
			hideClone=(action 'hideClone')
			initClone=(action 'initClone')
			moveClone=(action 'moveClone')
			click=(action 'setActiveGradientLayer' gradientLayer)
			showClone=(action 'showClone')
			swapOrder=(route-action 'swapOrder')
		}}
	</li>
{{/each}}
</ul>

{{#if isCloneActive}}
	{{gradient-layer-clone
		gradientLayerCloneCss=gradientLayerCloneCss
	}}
{{/if}}
