<span class="gradient-dial__handle gradient-dial__handle--size" {{action 'resizeEllipse' on="mouseDown"}}></span>
<span class="gradient-dial__handle gradient-dial__handle--height" {{action 'changeEllipseHeight' on="mouseDown"}}></span>
<span class="gradient-dial__handle gradient-dial__handle--centerPos" {{action 'changeEllipseCenter' on="mouseDown"}}>+</span>
